[Unit]
Description=Gateway BLE vers MQTT
After=network.target

[Service]
ExecStart=$HOME/venv/bin/python $HOME/passerelle.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

